@using WebPortfolio.Models

@inject PortfolioContext db

<div class="mb-5">
    <div class="card-deck overflow-auto">
        @foreach (var project in db.Projects ?? Enumerable.Empty<Project>())
        {
            <div class="card">
                <div id="projectCarousel_@project.Id" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner">
                        @foreach (var image in project.Images ?? Enumerable.Empty<String>())
                        {
                            <div class="carousel-item @(image == project.Images.First() ? "active" : "")">
                                <img class="d-block w-100" src="@image" alt="Slide of project @project.Id">
                            </div>
                        }
                    </div>
                    <a class="carousel-control-prev" href="#projectCarousel_@project.Id" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#projectCarousel_@project.Id" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
                <div class="card-body">
                    <h5 class="card-title">@project.Title</h5>
                    <p class="card-text">@project.ShortDescription</p>
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#project_@(project.Id)_Modal">
                        Description
                    </button>
                </div>
            </div>

            <ProjectComponent Project="project"/>
        }
    </div>
</div>

@code {

}
