@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

@(await Html.RenderComponentAsync<HeaderAnimation>(RenderMode.Static))

<div class="row">
    <div class="col-3 d-sm-none d-md-block">
        <nav class="sticky-top mt-4 card pt-3">
            <a class="text-center" href="#">
                <img src="~/imgs/photo.jpg" class="card-img-top img-thumbnail mx-auto rounded-circle" alt="My photo" />
            </a>
            <div class="card-body text-center">
                <a href="#">
                    <h5 class="card-title">Ildar Ibiatov</h5>
                    <h5>Developer</h5>
                </a>
            </div>
            <div id="about-list" class="list-group list-group-flush">
                <a class="list-group-item list-group-item-action pt-2 pb-2" href="#about">About</a>
                <a class="list-group-item list-group-item-action pt-2 pb-2" href="#skills">Skills</a>
                <a class="list-group-item list-group-item-action pt-2 pb-2" href="#experience">Experience</a>
                <a class="list-group-item list-group-item-action pt-2 pb-2" href="#education">Education</a>
                <a class="list-group-item list-group-item-action pt-2 pb-2" href="#certificates">Certificates</a>
                <a class="list-group-item list-group-item-action pt-2 pb-2" href="#projects">Projects</a>
                <a class="list-group-item list-group-item-action pt-2 pb-2" href="#contacts">Contact Me</a>
            </div>
        </nav>
    </div>
    <div class="col">
        <!--TODO add some photo or animation in the top-->
        <h4 id="about">About me</h4>
        <div class="mb-5">
            <p>I am a 4th-year student of ITMO university in St. Petersburg studying "Neurotechnologies and Programming". In 2018 was registered as an individual entreprenuer in Software Development.</p>
            <p>I have proven to be a responsible student with a list of academic achievments such as reaching the top of the faculty rating, finishing an exchange trimester in Pompeu Fabra University in Barcelona and I was granted to have a state funded education. I have participated in hackathones in order to earn experience. </p>
            <p>Apart from learning technologies, I have succeeded in developing soft skills such as <a href="~/imgs/TickTickStats.jpg" target="_blank" rel="noopener noreferrer" data-toggle="tooltip" data-placement="top" title="My stats in TickTick">time management</a>, which taught me to achieve results, stage-performance, negotiations, communication, emotional growth, which gave me stress resistance, leadership, which showed me the optimal principels of encouraging colleagues and myself</p>
        </div>

        <h4 id="skills">Skills</h4>
        <div class="mb-5">
            <table class="table table-dark">
                <thead>
                    <tr>
                        <th scope="col">Skill</th>
                        <th scope="col">Beginner</th>
                        <th scope="col">Intermidiate</th>
                        <th scope="col">Advanced</th>
                        <th scope="col">Expert</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var skill in Model.Skills)
                    {
                        <tr>
                            <th scope="row">@skill.Name</th>
                            <td colspan="4">
                                <div class="progress">
                                    <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="@skill.Progress" aria-valuemin="0" aria-valuemax="100" style="width: @(skill.Progress)%"></div>
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            <table class="table table-dark">
                <thead>
                    <tr>
                        <th scope="col">Language</th>
                        <th scope="col">Beginner</th>
                        <th scope="col">Intermidiate</th>
                        <th scope="col">Advanced</th>
                        <th scope="col">Native</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var lang in Model.Languages)
                    {
                        <tr>
                            <th scope="row">@lang.Name</th>
                            <td colspan="4">
                                <div class="progress">
                                    <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="@lang.Progress" aria-valuemin="0" aria-valuemax="100" style="width: @(lang.Progress)%"></div>
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>

        <h4 id="experience">Experience</h4>
        <div class="mb-5">
            <ul class="list-group">
                <li class="list-group-item">
                    <div class="row">
                        <div class="col align-self-center">
                            <h5>ООО "РТК ГОРМЕДТЕХНИКА"</h5>
                            <h6>Web Developer</h6>
                            <small>2018-now</small>
                        </div>
                        <div class="col-7 align-self-center">
                            <p>
                                As a sole proprietor under a contract I was working for an online shop where my task was to maintain <a href="//gorodmed.ru" target="_blank" rel="noopener noreferrer">the website</a>, work with CMS, backend and frontend development were fully on me.
                            </p>
                        </div>
                    </div>
                </li>
            </ul>
        </div>

        <h4 id="education">Education</h4>
        <div class="mb-5">
            <ul class="list-group">
                <li class="list-group-item">
                    <div class="row">
                        <div class="col align-self-center">
                            <h5>ITMO University</h5>
                            <h6>Neurotechnologies and Programming</h6>
                            <small>2017-2021</small>
                        </div>
                        <div class="col-7 align-self-center">
                            <p>
                                Bachelor in Computer Science.
                            </p>
                        </div>
                    </div>
                </li>
            </ul>
        </div>

        <h4 id="certificates">Certificates</h4>
        <div class="mb-5">
            <ul class="list-group">
                @foreach (var sertificate in Model.Sertificates)
                {
                    <li class="list-group-item list-group-item-action">
                        <div class="row">
                            <div class="col">
                                <small>
                                    @sertificate.Year
                                </small>
                            </div>
                            <div class="col-10">
                                <a href="@sertificate.Url" target="_blank" rel="noopener noreferrer">
                                    @sertificate.Name
                                </a>
                            </div>
                        </div>
                    </li>
                }
            </ul>
        </div>

        <h4 id="projects">Projects</h4>
        @(await Html.RenderComponentAsync<ProjectList>(RenderMode.ServerPrerendered))

        <h4 id="contacts">Contact Me</h4>
        <div class="mb-5">
            @(await Html.RenderComponentAsync<ContactForm>(RenderMode.ServerPrerendered))
        </div>
        <div class="alert alert-secondary" role="alert">
            Or just contact me: <a href="mailto:renorq@mail.ru" class="alert-link">renorq@mail.ru</a>
        </div>

    </div>
</div>

